@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gym Professor</h1>
    <p class="lead">Knowledge is Power... But Muscle Helps!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Lets Get Started! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cardio</h2>
        <p>
            If you want exercise that improves your life, look no further than cardio. This type of exercise creates a host of benefits for you, inside and out. Over time, you will see gains in not just your physical health, but your mental health as well.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Weights</h2>
        <p>Resistance training (also called strength training or weight training) is the use of resistance to muscular contraction to build the strength, anaerobic endurance and size of skeletal muscles.

Resistance training is based on the principle that muscles of the body will work to overcome a resistance force when they are required to do so. When you do resistance training repeatedly and consistently, your muscles become stronger.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Diet</h2>
        <p>A balanced diet is one that gives your body the nutrition it needs to function properly. In order to get truly balanced nutrition, you should obtain the majority of your daily calories from fresh fruits and vegetables, whole grains, and lean proteins.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>